*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(home\ owner.jpg) ;
    background-size: cover;
    background-position: center;

}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#fb2525;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

.navbar ul li:hover::after{
    width: 100%;

}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}
h1{
    font-size: 70px;
    margin-top: 80px;   
}

p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fb2525;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
}

span{
    background: #fb2525;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;

}
button:hover{
    border: none;
}

body{
    margin: 0;
    padding: 0;
    background-size: auto;
    background-position: center;
    font-family: sans-serif;

}


.log-inbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    padding-bottom: 30%;
    margin-top: 10%;
    left: 40%;
    position: relative;
    transform: translate(-50% -50%);
    box-sizing: border-box;
    padding: 80px 40px;
}

.avatar{
    position: absolute;
    padding-left: 90px;
    left: calc(50% -50px);
    margin-top: -25%;

}

h1{
    margin:0;
    padding:  0 0 20px;
    text-align: center;
    font-size: 22px;

}

.log-inbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.log-inbox input{
    width: 100%;
    margin-bottom: 20px;
}


.log-inbox input [type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.log-inbox input [type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
}

.log-inbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}